:root {
  --primary-bg: black;
  --secondary-bg: #020000;
}

body {
  background-color: black;
}

@font-face {
  font-family: 'Swiss924Bold';
  src: url('./fonts/Swiss924Bold.otf') format('opentype');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Swiss721Reg';
  src: url('./fonts/Swiss721Reg.otf') format('opentype');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scale-animation {
  animation: scale-animation 7s ease-in-out;
}

@keyframes scale-animation {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.movie-card-container:hover .card-link img {
  transform: perspective(607.5px) translateY(-3.375%) rotateX(16.875deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  transition: all 1s;
}


.slick-slider {
  max-width: 94%;
  margin: auto;
  justify-content: center;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  display: flex;
  justify-content: center;
  max-width: 91%;
  margin: 0 auto;
}

.carousel-button {
  background-color: #09f0a0;
  border-color: #09f0a0;
  color: black;
}

.carousel-button:hover {
  background-color: #00c7d1;
  border-color: #00c7d1;
  color: black;
}

.slick-arrow.slick-next:before,
.slick-arrow.slick-prev:before {
  color: #00ffbf;
  transition: color 0s ease;
  font-size: 35px;
}

.slick-arrow.slick-next:hover:before,
.slick-arrow.slick-prev:hover:before {
  font-size: 35px;
  color: #FFA500;
}

.slick-arrow {
  z-index: 8;
}

.slick-next {
  right: 0px;
}

.slick-prev {
  left: 0px;
}

.movie-section {
  display: flex;
  justify-content: center;
  width: 98%;
}

.loading {
  background-color: black;
  color: white;
}


h1 {
  letter-spacing: 8px;
}

.font-titles,
.navbar,
.navbar a,
.nav-link,
.nav-link.auth-link,
.h1,
.h4,
.section-title,
.btn-primary,
.btn-danger,
.load-more-button,
.btn-success {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.load-more-button,
.btn-success,
.btn-btn-primary,
.btn-danger {
  letter-spacing: .8px;
}

.font-titles {
  font-family: "Swiss924Bold";
}

.bg-navy {
  background-color: var(--secondary-bg);
}

/* MOVIE CARD BACKGROUND */
.movie-card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  border: transparent;
  border-radius: 0px;
}

.card-mb-3-movie-card-container {
  background-color: transparent;
}

.movie-section .col-2 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0;
  padding-top: 1%;
  border-radius: 0;
  background-color: transparent;
}

.movie-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  background-color: var(--secondary-bg);
  color: #09f0a0;
  border: 0px solid var(--secondary-bg);
}

.card.mb-3 {
  background-color: var(--secondary-bg);
  color: #09f0a0;
  border: 0px solid var(--secondary-bg);
}

.card-text small {
  color: #00c7d1 !important;
}

.logo {
  padding-bottom: 20px;
  margin-bottom: 30px;
  padding-top: 20px;
  margin-top: 60px;
}

.logo-image {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
}

.logo-image:hover {
  color: white;
}

.nav-link.auth-link {
  font-weight: 24 !important;
}

.navbar {
  background-color: black;
  color: #09f0a0;
  font-family: "Swiss721Reg";
  font-size: 24px;
}

.navbar a {
  color: #09f0a0;
  font-size: 1.8vw;
  padding-right: 4px;
  padding-left: 4px;
  margin-right: 1px;
  font-family: "Swiss721Reg";
}

.nav-item button {
  font-family: 'Swiss721Reg';
}


.nav-link {
  color: #09f0a0;
  text-decoration: none;
  font-family: 'Swiss721Reg' !important;
  font-size: 23px;
  letter-spacing: .5px;
}

.nav-link:hover,
.nav-link:active {
  color: #00c7d1;
  text-decoration: none;
  font-family: "Swiss924Bold";
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a:hover,
.navbar a:focus {
  color: #00c7d1;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container {
  margin-bottom: 20px;
  background: linear-gradient(to bottom, black, darkblue);
}

.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.vh-100 {
  height: 100vh;
}

.movie-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* SECTION TITLES */
h1 {
  color: #00c7d1;
  border-top: 60px solid var(--secondary-bg);
  border-bottom: 10px;
  font-family: 'Swiss924Bold';
  font-optical-sizing: auto;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #09f0a0;
  background-color: transparent;
  font-size: 60px !important;
  font-optical-sizing: auto;
}

/* MOVIE CARD TITLES */
h4 {
  color: #00c7d1;
  font-family: 'Swiss721Reg' !important;
  letter-spacing: 1px;
  font-size: 1.3vw !important;
  padding-bottom: -40px !important;
  padding-left: 15px !important;
}

.card-title:hover {
  color: #09f0a0;
}

.card-link {
  text-decoration: none;
}

.card-title {
  color: #00c7d1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Swiss721Reg';
  letter-spacing: 0px;
  font-size: 1.5vw !important;
  padding-bottom: -20px !important;
}

.card-text {
  background-color: black;
  color: #00c7d1;
  padding-top: 25px;
  padding-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-height {
  height: 100%;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: -2%;
  margin-top: 0;
}

/* SEARCH BUTTON */
.btn-primary {
  background-color: #00c7d1;
  color: black;
  border-color: #00c7d1;
  border-radius: 5%;
  margin-bottom: 30px;
  cursor: pointer;
  font-family: 'Swiss721Reg';
  letter-spacing: .5px;
}

.btn-danger {
  background-color: #09f0a0;
  color: black;
  border-color: #09f0a0;
  border-radius: 5%;
  margin-bottom: 30px;
  cursor: pointer;
  font-family: 'Swiss721Reg';
  letter-spacing: .5px;
}

.btn-primary:hover {
  background-color: #09f0a0;
  color: black;
  border-color: #09f0a0;
}

.search-results {
  color: #09f0a0;
  font-size: 30px;
  text-align: center;
  font-family: "Swiss721Reg";
}

.search-form {
  display: flex;
  align-items: center;
  color: var(--secondary-bg);
}

.search-form input {
  margin-right: 10px;
}

.search-input {
  background-color: black;
  color: black;
  border-color: #00c7d1;
  outline: none;
}

.search-input::placeholder {
  color: #00c7d1;
}

.search-input:focus {
  background-color: black;
  color: black;
  outline: none;
  box-shadow: none;
}

.form-label {
  color: #00c7d1;
  margin-bottom: 10px;
}

.form-control {
  background-color: black;
  border-color: #00c7d1;
  color: #00c7d1 !important;
}

.form-control:focus {
  background-color: black;
  border-color: #00c7d1;
  box-shadow: 0 0 0 0.2rem rgba(0, 199, 209, 0.25);
  outline: none;
}

input[type="checkbox"] {
  color: #00c7d1;
}

input[type="checkbox"] + span {
  color: #00c7d1;
  margin-left: 0.5rem;
}

p {
  color: #00c7d1;
}

p a {
  color: #00c7d1;
  text-decoration: none;
}

p a:hover {
  color: #09f0a0;
  font-weight: bold;
  text-decoration: none;
}

.section-heading {
  margin-bottom: 20px;
  font-family: 'Swiss721Reg';
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.load-more-button {
  padding: 8px 8px;
  background-color: #09f0a0;
  color: black;
  border: #09f0a0 0.5px solid;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 0;
  font-family: 'Swiss721Reg';
  letter-spacing: .5px;
}

.load-more-button:hover {
  background-color: #09f0a0;
  color: black;
  border-color: #09f0a0;
}

.btn-success {
  background-color: #00c7d1;
  color: black;
  border-color: #00c7d1;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: 'Swiss721Reg';
  letter-spacing: .5px;
}

.btn-success:focus {
  outline: none;
  box-shadow: none;
  background-color: #09f0a0;
  color: black;
}

.btn-success:hover {
  background-color: #09f0a0;
  color: black;
  border-color: None;
}

.row.my-3 {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.favorites-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
}

.favorite-card {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 5px;
  box-sizing: border-box;
}

.favorite-card .card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.section-title {
  color: #09f0a0;
  font-family: 'Swiss924Bold';
  font-size: 5vw;
  font-optical-sizing: auto;
  margin-bottom: 20px;
}

.favorite-card .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Swiss721Reg";
}

.favorite-button {
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 10px;
  background-color: black;
  color: #09f0a0;
  border: #09f0a0 0.5px solid;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  align-self: right;
  letter-spacing: .5px;
  font-family: "Swiss721Reg";
}

.btn-binge {
  background-color: #00c7d1 !important;
  letter-spacing: .5px;
  font-family: "Swiss721Reg";
  border: none;
}

.btn-unbinge {
  background-color: #FFA500 !important;
  letter-spacing: .5px;
  font-family: "Swiss721Reg";
  border: none;
}

.btn-binge:focus, .btn-unbinge:focus {
  outline: none;
  box-shadow: none;
}

.btn-success:focus {
  outline: none;
  box-shadow: none;
  background-color: #09f0a0;
  color: black;
}

.center-text {
  text-align: center;
  width: 100%;
  color: #09f0a0;
}

.App {
  text-align: center;
  background-color: var(--primary-bg);
}

.App-header {
  background-color: var(--primary-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
